
{{#if userContext}}
<script>
  console.log("{{userContext.userinfo.given_name}}")
  console.dir("{{userContext.userinfo.id_token}}")

</script>

<div style="background-color:#00559c;color:white;margin-bottom:50px;padding-top:10px;">
   <div class="container" >
      <div class="row">
         <div class="col-8">
            <h2 class="text-left">Hi {{userContext.userinfo.given_name}}!</h2>
         </div>
         <div class="col-4"></div>
      </div>
   </div>
</div>

<div class="container">

  <p>Are you sure you want to delete your account?</p>
  
  <p>
    <a href="{{oidc_redirect_uri}}"><button>
      Yes
      </button></a>
    <a href="/"><button>
      No
      </button></a>
  </p>
  
  <div id="test"></div>

</div>


{{else}}
<div id="maindiv">
   <div id="header">
   </div>
   <div id="seconddiv">
   </div>
</div>

<script>
// alert("this is some javascript!")
  
  $("#test").html("jquery works!")
  
</script>
{{/if}}

